body {
  padding-top: 100px;
  padding-bottom: 100px;
  background:url(../Images/login.jpg);
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.lg_top{
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 20px;
  font:italic arial,sans-serif;
}
.lg_main{
  text-align: center;
}
.ur{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 15%;
  height: 30px;
}
.pw{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 15%;
  height: 30px;
}
.pww{
  margin-top: 20px;
  margin-bottom: 20px;
}
.lg_foot{
  text-align: center;
}
.bn{
  width: 100px;
  height: 40px;
}