<div class="pageContent">
	<form method="post" action="__URL__/insertQuestion/navTabId/performanceform/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="<{$id}>"/>
		<div class="pageFormContent" width="100%" layoutH="60">
			<div>添加问题组：</div><br/>
			<div>
				<foreach name="questionarr" item="vo">
					<label style="width: auto;"><input name="questionArr[]" type="checkbox" value="<{$vo.id}>" /><{$vo.questiontext}>[<{$vo.id}>]</label> 
				</foreach>
			</div>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

