
<div class="pageContent">
	<form method="post" action="__URL__/updateindirectleaders/navTabId/performance/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent" layoutH="60">
			<input type="hidden" name="groupid" value="<{$groupid}>"/>
			<foreach name="list" item="vo">
				<label><input type="checkbox" name="members[]" value="<{$vo.id}>" <if condition="$vo.isselected eq 1">checked</if>/><{$vo.showname}>(<{$vo.username}>)</label>
			</foreach>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

