
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/performancequestion/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<input type="hidden" name="id" value="<{$vo.id}>"/>
		<div class="pageFormContent" width="100%" layoutH="60">
			<dl>
				<dt>项目内容：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="questiontext" value="<{$vo.questiontext}>"/></dd>
			</dl>
			<dl>
				<dt>项目级别：</dt>
				<dd>
					<select style="width:227px" name="questionlevel">
						<option value='0' <if condition="$vo.questionlevel eq 0"> selected</if> >组名</option>
						<option value='1' <if condition="$vo.questionlevel eq 1"> selected</if>>问题</option>
					</select>
				</dd>
			</dl>
			<dl style="width:500px;">
				<dt>父项目：</dt>
				<dd style="width:227px">
					<select style="width:227px" name="questionparent">
						<option value=0 <if condition="$vo.questionparent eq 0"> selected</if>>无父项目</option>
						<foreach name="parentList" item="v">
							<option value="<{$v['id']}>" <if condition="$v.id eq vo.questionparent"> selected</if>><{$v.questiontext}>(<{$v.id}>)</option>
						</foreach>
					</select>
					<!-- <span class="add-role">添加角色</span> -->
				</dd>
			</dl>
			<dl>
				<dt>项目类型：</dt>
				<dd>
					<select style="width:227px" name="questiontype">
						<option value='number' <if condition="$vo.questiontype eq number"> selected</if>>分数</option>
						<option value='nan' <if condition="$vo.questiontype eq nan"> selected</if>>其它</option>
					</select>
				</dd>
			</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

