<!DOCTYPE　html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/Login.css">
<link rel="stylesheet" type="text/css" href="__CSS__/myDefined.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jquery-ui/jquery-ui.structure.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="__JS__/Assessment.js"></script>
<script src="__JS__/jquery-ui/jquery-ui.min.js"></script>

</head>
<body class="container-fluid noPadding">
<header>
  <nav class="navbar navbar-inverse navbar-fixed-top noMargin">
    <foreach name="accessList" item="vo">
        <a class="navbar-brand" href="__INDEX__<{$vo.controller}>/<{$vo.action}>"><{$vo.appInfo.name}></a>
    </foreach>
     <a class="navbar-brand navbar-right welcome" href="__INDEX__Login/logout">登出</a>
     <span class="navbar-brand navbar-right welcome" href="#">欢迎你,<{$showname}>！</span>
  </nav>
</header>
<section>
   <div class="page-header siglePageHeader">
    <h1>评价中心</h1>
  </div>
  <table class="table">
    <tr class="danger">
      <th class="textCenter">编号</th>
      <th class="textCenter">姓名</th>
      <th class="textCenter">电话</th>
      <th class="textCenter">职位</th>
      <th class="textCenter">打分</th>
    </tr>
    <foreach name="userInfo" item="vo">
      <if condition="$key%2 eq 0">
        <tr>
          <td class="textCenter verticalAlignCenter"><{$key}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.showname}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.phone}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.position}></td>
          <td class="textCenter">
            <if condition="$vo.isassessed neq 1">
                <button type="button" data-toggle="modal" userid="<{$vo.id}>" data-target="#myModal" class="btn btn-link assess-button">打分</button>
            <else/>
                <span style="font-size:14px; color:gray;">已打分</span>
            </if>
           </td>
        </tr>
      <else/>
        <tr class="success">
          <td class="textCenter verticalAlignCenter"><{$key}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.showname}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.phone}></td>
          <td class="textCenter verticalAlignCenter"><{$vo.position}></td>
          <td class="textCenter">
            <if condition="$vo.isassessed neq 1">
                <button type="button" data-toggle="modal" userid="<{$vo.id}>" data-target="#myModal" class="btn btn-link assess-button">打分</button>
            <else/>
                <span style="font-size:14px; color:gray;">已打分</span>
            </if>
          </td>
        </tr>
      </if>
    </foreach>
  </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">打分</h4>
          </div>
          <div class="modal-body assess-content">
              <div class="form-group">
                <label for="score">分数:</label>
                <input type="number" class="form-control required" id="score" placeholder="满分100分">
              </div>
              <div class="form-group">
                <label for="remark">评价:</label>
                <textarea rows='10' class="form-control" id="remark" placeholder="评价"></textarea>
              </div>     
              <div class="form-group">
                <span class="verticalAlignCenter" style="font-weight:bold;">匿名:</span>
                <input type="checkbox" class="verticalAlignCenter" style="width: 20px; height: 20px;" id="anony"><span class="verticalAlignCenter" style="font-style: italic;">勾选此项，任何人无法查看打分人</span>
                <span class="success-hint textCenter" style="disply:none;"></spn>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary assess-save">保存</button>
          </div>
        </div>
      </div>
    </div>

  </section>
<footer class="copyright">© 2016 Wugubaike.com. 版权所有 Powered by Brian.</footer>
</body>
</html>