<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/assessgroup/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);"><?php  //窗体组件采用这个 iframeCallback(this, navTabAjaxDone); ?>
		<div class="pageFormContent" width="100%" layoutH="60">
			<dl>
				<dt>评价小组名字：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="groupname"/></dd>
			</dl>
			<dl>
				<dt>状　　态:</dt>
				<dd>
					开启&nbsp;&nbsp;<input type="radio" class="required"  name="status" value="1" checked/>&nbsp;&nbsp;&nbsp;
					关闭&nbsp;&nbsp;<input type="radio" class="required"  name="status" value="0"/>
				</dd>
			</dl>
			<dl>
				<dt>评价小组描述：</dt>
				<dd><textarea rows='10'  style="width:100%" name="groupremark"></textarea></dd>
			</dl>
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

