.carouselHeight {
	height: 500px;
}

.fullImage {
	width: 100%;
	height: 100% !important;
}

.noPadding{
	padding: 0px;
}

.noMargin{
	margin: 0px;
}

.welcome{
	font-family: cursive;
    font-size: medium;
    color: white !important;
    font-weight: 500;
    font-style: oblique;
    margin-right: 10px;
}

.headerMargin{
	margin-top: 50px;
}

.siglePageHeader{
	margin-top: 80px;
    font-size: 36px;
    font-weight: 700;	
}

.personInfoWidth{
	width: 50%;
	margin: auto;
}

.textCenter{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hidden{
	display: hide;
}

.verticalAlignCenter{
	vertical-align: middle !important;
} 

.success-hint{
	color: red;
	display: block;
	margin: auto;
	font-weight: bolder;
	font-size: 30px;
}

.remark-width{
	width: 40%;
}